In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mental_health_dataset.csv')
df.head()

,age,gender,employment_status,work_environment,mental_health_history,seeks_treatment,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score,mental_health_risk
0,56,Male,Employed,On-site,Yes,Yes,6,6.2,3,28,17,54,59.7,High
1,46,Female,Student,On-site,No,Yes,10,9.0,4,30,11,85,54.9,High
2,32,Female,Employed,On-site,Yes,No,7,7.7,2,24,7,62,61.3,Medium
3,60,Non-binary,Self-employed,On-site,No,No,4,4.5,4,6,0,95,97.0,Low
4,25,Female,Self-employed,On-site,Yes,Yes,3,5.4,0,24,12,70,69.0,High

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     10000 non-null  int64
 1   gender                  10000 non-null  object
 2   employment_status       10000 non-null  object
 3   work_environment        10000 non-null  object
 4   mental_health_history   10000 non-null  object
 5   seeks_treatment         10000 non-null  object
 6   stress_level            10000 non-null  int64
 7   sleep_hours             10000 non-null  float64
 8   physical_activity_days  10000 non-null  int64
 9   depression_score        10000 non-null  int64
 10  anxiety_score           10000 non-null  int64
 11  social_support_score    10000 non-null  int64
 12  productivity_score      10000 non-null  float64
 13  mental_health_risk      10000 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [4]:
df.dropna(axis=1)
df.isnull().sum()

age                       0
gender                    0
employment_status         0
work_environment          0
mental_health_history     0
seeks_treatment           0
stress_level              0
sleep_hours               0
physical_activity_days    0
depression_score          0
anxiety_score             0
social_support_score      0
productivity_score        0
mental_health_risk        0
dtype: int64

In [5]:
df.describe()

,age,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,41.557600,5.572000,6.473000,3.505700,15.039900,10.56180,50.117700,77.312210
std,13.749581,2.887741,1.473944,2.282737,8.990839,6.32264,29.229278,14.061202
min,18.000000,1.000000,3.000000,0.000000,0.000000,0.00000,0.000000,42.800000
25%,30.000000,3.000000,5.500000,2.000000,7.000000,5.00000,25.000000,65.800000
50%,41.500000,6.000000,6.500000,4.000000,15.000000,11.00000,50.000000,77.600000
75%,53.000000,8.000000,7.500000,5.000000,23.000000,16.00000,76.000000,89.200000
max,65.000000,10.000000,10.000000,7.000000,30.000000,21.00000,100.000000,100.000000

In [6]:
df.head()

,age,gender,employment_status,work_environment,mental_health_history,seeks_treatment,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score,mental_health_risk
0,56,Male,Employed,On-site,Yes,Yes,6,6.2,3,28,17,54,59.7,High
1,46,Female,Student,On-site,No,Yes,10,9.0,4,30,11,85,54.9,High
2,32,Female,Employed,On-site,Yes,No,7,7.7,2,24,7,62,61.3,Medium
3,60,Non-binary,Self-employed,On-site,No,No,4,4.5,4,6,0,95,97.0,Low
4,25,Female,Self-employed,On-site,Yes,Yes,3,5.4,0,24,12,70,69.0,High

In [8]:
df.rename(columns={
    'age':'yas',
    'gender':'cinsiyet',
    'employment_status':'istihdam_durumu',
    'work_environment':'calisma_ortami',
    'mental_health_history':'ruhsal_saglik_gecmisi',
    'seeks_treatment':'tedavi_arama',
    'stress_level':'stres_seviyesi',
    'sleep_hours':'uyku_saati',
    'physical_activity_days':'fiziksel_aktivite_gunleri',
    'anxiety_score':'anksiyete_puani',
    'social_support_score':'sosyal_destek_puani',
    'productivity_score':'uretkenlik_puani',
    'mental_health_risk':'ruhsal_saglik_riski',
    },inplace=True)

df.head()

,yas,cinsiyet,istihdam_durumu,calisma_ortami,ruhsal_saglik_gecmisi,tedavi_arama,stres_seviyesi,uyku_saati,fiziksel_aktivite_gunleri,depression_score,anksiyete_puani,sosyal_destek_puani,uretkenlik_puani,ruhsal_saglik_riski
0,56,Male,Employed,On-site,Yes,Yes,6,6.2,3,28,17,54,59.7,High
1,46,Female,Student,On-site,No,Yes,10,9.0,4,30,11,85,54.9,High
2,32,Female,Employed,On-site,Yes,No,7,7.7,2,24,7,62,61.3,Medium
3,60,Non-binary,Self-employed,On-site,No,No,4,4.5,4,6,0,95,97.0,Low
4,25,Female,Self-employed,On-site,Yes,Yes,3,5.4,0,24,12,70,69.0,High

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   yas                        10000 non-null  int64
 1   cinsiyet                   10000 non-null  object
 2   istihdam_durumu            10000 non-null  object
 3   calisma_ortami             10000 non-null  object
 4   ruhsal_saglik_gecmisi      10000 non-null  object
 5   tedavi_arama               10000 non-null  object
 6   stres_seviyesi             10000 non-null  int64
 7   uyku_saati                 10000 non-null  float64
 8   fiziksel_aktivite_gunleri  10000 non-null  int64
 9   depression_score           10000 non-null  int64
 10  anksiyete_puani            10000 non-null  int64
 11  sosyal_destek_puani        10000 non-null  int64
 12  uretkenlik_puani           10000 non-null  float64
 13  ruhsal_saglik_riski        10000 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [16]:
data_list = ['cinsiyet','calisma_ortami','istihdam_durumu'
             ,'ruhsal_saglik_gecmisi','tedavi_arama','ruhsal_saglik_riski']
for index in range(6):
    print(f"{data_list[index]}: {df[data_list[index]].unique()}")

cinsiyet: ['Male' 'Female' 'Non-binary' 'Prefer not to say']
calisma_ortami: ['On-site' 'Remote' 'Hybrid']
istihdam_durumu: ['Employed' 'Student' 'Self-employed' 'Unemployed']
ruhsal_saglik_gecmisi: ['Yes' 'No']
tedavi_arama: ['Yes' 'No']
ruhsal_saglik_riski: ['High' 'Medium' 'Low']

In [18]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()
encoders = {}
for index in data_list:
    le = LabelEncoder()
    df[index] = le.fit_transform(df[index])
    encoders[index] = le

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   yas                        10000 non-null  int64
 1   cinsiyet                   10000 non-null  int32
 2   istihdam_durumu            10000 non-null  int32
 3   calisma_ortami             10000 non-null  int32
 4   ruhsal_saglik_gecmisi      10000 non-null  int32
 5   tedavi_arama               10000 non-null  int32
 6   stres_seviyesi             10000 non-null  int64
 7   uyku_saati                 10000 non-null  float64
 8   fiziksel_aktivite_gunleri  10000 non-null  int64
 9   depression_score           10000 non-null  int64
 10  anksiyete_puani            10000 non-null  int64
 11  sosyal_destek_puani        10000 non-null  int64
 12  uretkenlik_puani           10000 non-null  float64
 13  ruhsal_saglik_riski        10000 non-null  int32
dtypes: float64(2), int32(6), int64(6)
memory usage: 859.5 KB

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

standart_scaler = StandardScaler()
x = df.drop(['ruhsal_saglik_riski'],axis=1)
y = df['ruhsal_saglik_riski']

x_standartscaler = standart_scaler.fit_transform(x)
dataframe_x = pd.DataFrame(x_standartscaler)
print(x.shape)
print(y.shape)
print(dataframe_x)
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.70,random_state=42)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(10000, 13)
(10000,)
(7000, 13)
(7000,)
(3000, 13)
(3000,)